<?xml version='1.0' encoding='utf-8'?>
<widget id="io.guiibrag4.bibleapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BibleApp</name>
    <description>Um aplicativo de estudos bíblicos</description>
    <author email="guilhermebragaepic2@gmail.com" href="https://github.com/guiibrag4?tab=repositories">
        Guilherme Braga Rios da Costa
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/frontend/img/logo.png" />
</widget>
