@import url('./base.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  body {
    background-color: #3b3b3b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .main-content {
    background-color: #283A50;
    border: 1px solid black;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-size: 1.25rem;
    color: rgba(234, 234, 234, 1);
    font-weight: normal;
    padding-left: 0;
    padding-top: 43px;
    min-height: 100vh;
  }
  
  /* Logo styles */
  header {
    align-self: stretch;
    margin-bottom: 156px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  
  .logo img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 54px;
    flex-shrink: 0;
    margin-left: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .logo img {
        margin-left: 4.5rem; /* Ajuste para telas maiores */
    }
  }
  
  .logo-text {
    font-size: 28px;
    transform: rotate(-0.0031721467421762396rad);
    margin-left: 0.5rem;
  }
  
  /* Login form styles */
  .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;;
  }
  
  .account-title {
    color: rgba(164, 164, 164, 1);
    font-size: 28px;
  }

  .account-title2 {
    color: White;
    font-size: 28px;
    margin-bottom: 2rem;
  }
  
  .input-container {
    width: 233px;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .icon-input {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  .icon-input img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 28px;
    flex-shrink: 0;
  }
  
  .icon-input input {
    background-color: transparent;
    outline: none;
    border: none;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    color: rgba(142, 138, 138, 1);
  }
  
  .login-button {
    background-color: rgba(59, 125, 44, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 95px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    margin-top: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
  }
  
  .signup-text {
    margin-top: 129px;
    font-size: 1.25rem;
  }
  
  .underline {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .or-text {
    margin-top: 0.375rem;
    font-size: 1.25rem;
  }
  
  /* Social login button */
  .social-login-button {
    background-color: rgba(43, 43, 43, 1);
    display: flex;
    width: 197px;
    max-width: 100%;
    align-items: center;
    gap: 0.5rem;
    font-size: 13px;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    margin-top: 0.375rem;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .social-login-button img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 13px;
    flex-shrink: 0;
  }
  
  .social-login-button span {
    flex-grow: 1;
    flex-shrink: 1;
    width: 149px;
    text-align: left;
  }
  
  /* Footer styles */
  footer {
    margin-top: 135px;
    margin-bottom: 1rem;
  }
  
  .footer-content {
    display: flex;
    width: 193px;
    max-width: 100%;
    align-items: center;
    gap: 3px;
    font-size: 13px;
    color: white;
  }
  
  .footer-content img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 14px;
    flex-shrink: 0;
  }
  
  .footer-content div {
    flex-grow: 1;
    flex-shrink: 1;
    width: 173px;
  }