/* www/frontend/css/themes.css */

/* Estilos base (Modo Claro) */
body.light-mode {
    background-color: #F2F2F2;
    color: #333;
}

body.light-mode .main-content,
body.light-mode .app {
    background-color: #F2F2F2;
}

body.light-mode .header,
body.light-mode .bible-header,
body.light-mode .video-page-header {
  background-color: #283A50; /* Azul escuro no modo claro */
}

body.light-mode .header-title {
    color: white;
}

/* --- MODO ESCURO (DARK MODE) --- */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .main-content,
body.dark-mode .app,
body.dark-mode #bible-reader {
    background-color: #1c1c1c;
}

body.dark-mode .bible-content p {
    color: #e0e0e0;
}

body.dark-mode .header,
body.dark-mode .bible-header,
body.dark-mode .video-page-header {
    background-color: #222;
    border-bottom: 1px solid #333;
}

body.dark-mode .header-title {
    color: #e0e0e0;
}

body.dark-mode .topic-item {
    background-color: #2a2a2a;
    border-color: #444;
}

body.dark-mode .topic-title,
body.dark-mode .session-title,
body.dark-mode .subtitle {
    color: #e0e0e0;
}