/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Inknut Antiqua */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variáveis env */

/* .header {
  padding-top: env(safe-area-inset-top);
} */

.termos-rodape {
    padding-bottom: env(safe-area-inset-bottom);
}


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', Arial, sans-serif;
    background: linear-gradient(137deg, #283A50, #5B84B6);
    color: white;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Merriweather', Times, serif;
    font-size: 24px;
    margin-top: 24vh;
    margin-bottom: 10px;
    text-align: center;
}

.subtitulo {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 1.0vh;
    color: #fff;
}

.subtitulo2 {
    margin-top: 0px;
}

button {
    margin: 0 auto;
    margin-top: 2vw;
    min-width: 85vw;
    max-width: 90vw;
    color: #fff;
    padding: 1px;
    font-family: 'Inknut Antiqua', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 8px rgba(40, 58, 80, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.botoes-container {
    margin-top: 7vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.button-google {
    background: transparent;
    border: 1px solid #ccc;
    margin-bottom: 0.8vh;

    /* Lançamento */
    opacity: 0.5; /* Reduz a opacidade para dar aspecto desativado */
    cursor: not-allowed; /* Muda o cursor para indicar que não está disponível */
    filter: grayscale(50%); /* Adiciona um filtro de cinza */
    pointer-events: none; /* Desabilita cliques */
    position: relative;
}

/* .button-google::after {
    content: " (Em breve)";
    font-size: 12px;
    opacity: 0.7;
    font-style: italic;
} */

.iniciar-sessao {
    font-family: 'Merriweather', Arial, sans-serif;
    font-size: 14px;
    color: #D3CC00;
    cursor: pointer;
    font-weight: bold;
    margin-left: 6px;
    text-decoration: underline;
    text-underline-offset: 4px; /* Aumenta a distância entre o texto e o sublinhado */
}

.button-email {
    background: transparent;
    border: 1px solid #ccc;
}

.button-email img {
    margin-left: -16px;
}

.termos-rodape {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2vh;
    width: 100vw;
    color: #fff;
    font-size: 15px;
    z-index: 10;
}

.contaExistente {
    text-align: center;
    margin-top: 2vh;
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
}

.contaExistente a {
    color: yellow;
    text-decoration: underline;
    font-weight: bold;
}